* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

input {
    padding: 10px;
    font-size: 24px;
}

textarea {
    width: 800px;
    height: 200px;
    font-size: 24px;
    padding: 10px;
}
.form {
    margin-bottom: 10px;
    display: flex;
}

button {
    margin-left: 20px;
    font-size: 24px;
    padding: 10px;
}

.notes {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.note {
    min-width: 400px;
    padding: 10px;
    background-color: antiquewhite;
    margin-left: 50px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}
h3 {
    color: #da8668;
}

p {
    color: #a16135;
}

.btns {
    display: flex;
    justify-content: center;
}
